# Dependências do Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs do Docker e Sistema
*.log
.docker/

# Variáveis de ambiente (Segurança)
.env
.env.local

# Arquivos de IDEs e SO
.vscode/
.idea/
.DS_Store
Thumbs.db